.filterContainer {
  position: relative;
  /* display: inline-block; */
  width: 200px;
}

.dropdownToggle {
  background-color: #a39d9d;
  padding: 1.1rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 5px rgba(99, 98, 98, 0.2);
}

.dropdownMenu {
  position: absolute;
  width: 200px;
  max-height: 200px;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 4px 10px  rgba(136, 135, 135, 0.2);
  background-color: #fff;
  border-top: none;
  list-style: none;
  margin-top: 0.2rem;
 
}
.dropdownMenu.open {
  display: block;
}

p {
  list-style: none;
}

.dropdownMenu p {
  padding: 10px;
  cursor: pointer;
}
.arrow {
  float: right;
}


