.countriesContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 6rem;
    padding-bottom:13.2rem;
    gap:2.90rem;
    justify-content: center;
    padding-top: 1rem;
    /* background-color: red; */
    font-family: 'poppins' sans-serif;
}

.eachCountry {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.2);
    border-radius: 10px;
}

.countryImgContainer {
    height: 230px;
    width: 350px;
    /* background-color: brown;  */
}
p {
    list-style: none;
}

.countryImg {
    width: 100%;
    height: 100%;
    border-radius: 5px ;
}

.countryDetails {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
}

.countryInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.countryName {
    font-size: 1rem;
    font-weight: bold;
}

.notFound {
    text-align: center;
    font-size: 20px;
}