.headerContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding:1.5rem 6rem;
    flex-basis: 100%;
    box-shadow: 10px 10px 10px 10px rgba(111, 110, 110, 0.975);
}

.headerMode {
    display: flex;
    gap:1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.world{
    font-weight: 950;
}
.moonIcon {
    font-size: 15px;
    text-align: center;
}

.modeText {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    gap:1rem;
    text-align: center;
    cursor: pointer;
}







