
.searchContainer {
    background-color: white;
    box-shadow: 1px 1px 20px 10px rgba(78, 78, 78, 0.2);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0.4rem 1rem;
}

.searchIconContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}

.searchIcon {
    opacity: 0.5;
    position:relative;
}

.searchInput {
    display: flex;
}
::placeholder{
    color: rgb(215, 215, 215);
    font-size: 1.4rem;
}

.inputText {
    padding:0.7rem;
    border:none;
    outline:none;
    font-size: 16px;
}


