* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.searchFilter {
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
  align-items: center;
}



/* loader */

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.ldsDualRing {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  align-self: center;
}

.ldsDualRing:after {
  content: " ";
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-color: rgb(40, 116, 240) rgb(153, 190, 246);
  animation: lds-dual-ring 1.2s linear infinite;
}


/* error-message */

.errorMessage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  padding: 5rem;
}

.errorMessage {
  display: block;
}

.noProducts {
  text-align: center;
  display: block;
}


